
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRental">

    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input type="text" name="customer" data-rule-validCustomer="true" id="customer" required class="form-control" />
        </div>

    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input type="text" name="movie" data-rule-atleast id="movie" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>
        
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/app")
    <script>
        $(document).ready(function () {

            RentalsController.init();

        });
    </script>

}